<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
  </div>
</div>
